In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as st
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
data=pd.read_csv(r'C:\Users\LasimaSN\Downloads\The Data Science Course 2020 - All Resources\Part_5_Advanced_Statistical_Methods_(Machine_Learning)\S33_L204\1.03. Dummies.csv')

In [2]:
data

     SAT   GPA Attendance
0   1714  2.40         No
1   1664  2.52         No
2   1760  2.54         No
3   1685  2.74         No
4   1693  2.83         No
..   ...   ...        ...
79  1936  3.71        Yes
80  1810  3.71        Yes
81  1987  3.73         No
82  1962  3.76        Yes
83  2050  3.81        Yes

[84 rows x 3 columns]

In [3]:
rdata= data.copy()
rdata['Attendance'] = rdata['Attendance'].map({'Yes':1,'No':0})

In [5]:
y=rdata['GPA']
x1=rdata[['SAT','Attendance']]
x=st.add_constant(x1)
results=st.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    GPA   R-squared:                       0.565
Model:                            OLS   Adj. R-squared:                  0.555
Method:                 Least Squares   F-statistic:                     52.70
Date:                Fri, 01 Jan 2021   Prob (F-statistic):           2.19e-15
Time:                        22:52:37   Log-Likelihood:                 25.798
No. Observations:                  84   AIC:                            -45.60
Df Residuals:                      81   BIC:                            -38.30
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6439      0.358      1.797      0.076      -0.069       1.357
SAT            0.0014      0.000      7.141      0.000       0.001       0.002
Attendance     0.2226      0.041      5.451      0.000       0.141       0.304
==============================================================================
Omnibus:                       19.560   Durbin-Watson:                   1.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               27.189
Skew:                          -1.028   Prob(JB):                     1.25e-06
Kurtosis:                       4.881   Cond. No.                     3.35e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.35e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [6]:
x

    const   SAT  Attendance
0     1.0  1714           0
1     1.0  1664           0
2     1.0  1760           0
3     1.0  1685           0
4     1.0  1693           0
..    ...   ...         ...
79    1.0  1936           1
80    1.0  1810           1
81    1.0  1987           0
82    1.0  1962           1
83    1.0  2050           1

[84 rows x 3 columns]

In [9]:
new = pd.DataFrame({'const':1,'SAT':[1700,1670] , 'Attendance':[1,0]})
new =new[['const','SAT','Attendance']]

In [10]:
new

   const   SAT  Attendance
0      1  1700           1
1      1  1670           0

In [13]:
new.rename(index={0:'Alice',1:'Bob'})

       const   SAT  Attendance
Alice      1  1700           1
Bob        1  1670           0

In [15]:
predictions = results.predict(new)
predictions

0    3.246157
1    2.981519
dtype: float64

In [24]:
predictionsdf = pd.DataFrame({'Predictions':predictions})
joined = new_data.join(predictionsdf)
joined.rename(index={0: 'Bob',1:'Alice'})

In [25]:
join = new.join(pdf)

ValueError: columns overlap but no suffix specified: Index(['Predictions'], dtype='object')