In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression
data=pd.read_csv(r'C:\Users\LasimaSN\Downloads\The Data Science Course 2020 - All Resources\Part_5_Advanced_Statistical_Methods_(Machine_Learning)\S34_L212\real_estate_price_size.csv')
data.head()

        price     size
0  234314.144   643.09
1  228581.528   656.22
2  281626.336   487.29
3  401255.608  1504.75
4  458674.256  1275.46

In [2]:
x=data['size']
y=data['price']

In [3]:
x_matrix=x.values.reshape(-1,1)

In [4]:
reg =LinearRegression()
reg.fit(x_matrix,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
plt.scatter(x,y)
yhat= reg.coef_*x_matrix+reg.intercept_
fig =plt.plot(x,yhat,c='Red',lw=2,label='linear regression')
plt.xlabel('size',fontsize=20)
plt.ylabel('Price',fontsize=20)